body {
    background-color: #3E5154;
}

#maintenance {
	margin:0 auto;
	width:940px;
	font:normal 20px Arial, Verdana, sans-serif;
	color:#FFF;
}
#maintenance #message {
	margin:0 20px;
	padding:20px 310px 0 0;
	height:360px;
	background:url(../img/Wrench.png) no-repeat 100% 0 #fff;
	background-color: #3E5154;
}